@use 'sass:color';

@include tablet {
    .contenedor-anuncios{
        @include grid (3, 2rem)
    }
}

.anuncio{
    background-color: color.adjust($gris, $lightness: 5%);
    border: 1px solid color.adjust($gris, $lightness: -10%);



    .contenido-anuncio{
        padding: 2rem;
    }

    h3, p {
        margin: 0;
    }
}

.precio{
    color: $verde;
    font-weight: $bold;
    font-size: 4rem;
}

   
